// Fonts
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "vendor/fortawesome/font-awesome/scss/font-awesome.scss";

.card img{
  margin-right: 15px;
  max-height: 150px;
}
.price{
  font-size: 1.5em;
}

.card .description{
  color: #7f7f7f;
}
#main{
  margin-top: 5em;
  bottom: 16px;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.thumbnail{
  max-width: 150px;
}
